<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>紹介会社更新完了画面</title>

    <link rel="stylesheet" th:href="@{/css/goodstyle.css}">
</head>

<body>

<header class="header">
    <h1>紹介会社更新完了画面</h1>
    <a th:href="@{/}" class="logout-btn">ログアウト</a>
</header>

<main class="container">

    <div class="form-window" style="text-align:center;">

        <div class="form-section">
            <h2>紹介会社の更新が完了しました。</h2>
        </div>

        <div class="button-group">
            <a th:href="@{/list}">
                <button type="button" class="btn btn-submit">
                    検索画面へ戻る
                </button>
            </a>
        </div>

    </div>

</main>

<footer class="footer">
    <p>バージョン 01.00.00</p>
</footer>

</body>
</html>