<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>エラー画面</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}">
</head>

<body class="error-page-body">
	<header class="header">
		<h1>エラー画面</h1>
		<a href="/referral_management" class="logout-btn">ログアウト</a>
	</header>

	<main class="container">
		<div class="error-window">
			<h2 class="error-title">エラーが発生しました</h2>
			<p class="error-text">お手数ですが再度お試しください。</p>
		</div>
	</main>

	<footer class="footer">
		<p>バージョン 01.00.00</p>
	</footer>
</body>

</html>