<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>紹介会社新規登録完了画面</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}">
</head>

<body>
	<header class="header">
		<h1>紹介会社新規登録完了画面</h1>
		<a th:href="@{/}" class="logout-btn">ログアウト</a>
	</header>

	<main class="container">
		<div class="complete-window">
			<p class="complete-message">紹介会社の登録が完了しました。</p>
			<div class="complete-button-group">
				<a th:href="@{/list}" class="btn btn-search-back">検索画面へ戻る</a>
			</div>
		</div>
	</main>

	<footer class="footer">
		<p>バージョン 01.00.00</p>
	</footer>
</body>

</html>